{% extends "base.html" %}

{% block includes %}
	<link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Scripts/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript">
	var _appId = '{{ cfg.FACEBOOK_APPID}}';
	var _channelFile = '{{ cfg.FACEBOOK_CHANNELFILE}}';
	</script>
	<script type="text/javascript" src="/Scripts/FBHandler.js"></script>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">My Friend List Editor</a>
                <div class="nav-pills pull-right">
                <ul class="nav">
                    <li class="hide" id="iLogout"><a id="btnLogout" href="#"><i class="icon-off"></i> Logout</a></li>
                </ul>
                </div>
                <div id="divUserInfo" class="pull-right"></div>
            </div>
        </div>
    </div>

 <div class="container">
        <div class="row hide" id="loginPanel">
            <div class="span12">
                <div id="mainContent">
                <div class="hero-unit">
                    <h2>Facebook Friend List Editor</h2>
                    Please login to manage your friend list.<br />
                    <button id="btnMLogin" class="btn btn-large btn-primary"> <i class="icon-off"></i> Login  </button>
                </div>
                </div>
            </div>
        </div>
        <div class="row hide" id="editPanel">
            <div class="span2">
                <div class="well graybox"><h3>Friend Lists</h3>
                <div id="divFriendList"></div>
                </div>
                
            </div>

            <div class="span7">
            <div class="well" id="divEditForm">
<button class="btn" id="btnNewList"> New </button>
<button class="btn" id="btnUpdateList"> Copy </button>
<button class="btn" id="btnDeleteList"> Delete </button>
<span id="lblListName" class="span3">List Name : </span>
            </div>

<div id="divMsgReceiver" class="alert">drag and drop your friend to here.</div>
<div id="divEditContent" class="well">
<ol id="olFriends"></ol>
</div>
            </div>

            <div class="span3">
                <div class="well graybox"><h3>My Friends</h3>
                <div class="scrollbox">
                <div id="divFriend"></div></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
