{% extends "base.html" %}

{% block includes %}
	<link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Scripts/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript">
	var _appId = '{{ cfg.FACEBOOK_APPID}}';
	var _channelFile = '{{ cfg.FACEBOOK_CHANNELFILE}}';
	</script>
	<script type="text/javascript" src="/Scripts/FBHandler.js"></script>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">My Friend List Editor</a>
                    <ul class="nav">
                        <li><a href="#" id="btnFriendList">Friend List</a></li>
                    </ul>
                <div class="nav-pills pull-right">
                <ul class="nav">
                <li class="hide" id="iLogin"><a id="btnLogin" href="#">Login</a></li>
                <li class="hide" id="iLogout"><a id="btnLogout" href="#">Logout</a></li>
                    </ul>
                </div>
                <div id="divUserInfo" class="pull-right"></div>
            </div>
        </div>
    </div>

 <div class="container">
        <div class="row">
            <div class="span12">
                <div id="mainContent"></div>
            </div>
        </div>
        <div class="row">

            <div class="span2">
                <div class="well graybox"><h3>Friend Lists</h3>
	                <div id="divFriendList"></div>
                </div>
            </div>

            <div class="span7">
            <div class="well" id="divEditForm">
List Id : <input type="text" class="uneditable-input" id="tbxFriendListId" /><br />
List Name : <input type="text" id="tbxFriendListName" /><br />
<button class="btn" id="btnNewList"> New </button>
<button class="btn" id="btnUpdateList"> Update </button>
<button class="btn" id="btnDeleteList"> Delete </button>
            </div>

<div id="divMsgReceiver" class="alert"></div>
<div id="divEditContent" class="well">
<ol id="olFriends"></ol>
</div>
            </div>

            <div class="span3">
                <div class="well graybox"><h3>My Friends</h3>
                <div class="scrollbox">
                <div id="divFriend"></div></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
